//Used for sliding cards

.anim-black-slider, .anim-black-slider--right {
    position: relative;
    z-index: 1;
}

.anim-black-slider::before, .anim-black-slider--right::before {
    content: '';
    height: 100%;
    width: 0;
    background-color: #222;
    transition: 250ms width ease;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.anim-black-slider--right:hover::before {
    width: 100%;
}

.anim-black-slider--right:hover {
    color: white;
    transition: 250ms color ease;
}

.anim-black-slider::before {
    height: 0;
    width: 100%;
    transition: 250ms height ease;
}

.anim-black-slider:hover::before {
    height: 100%;
}

// Used for carousels
.owl-carousel:hover .owl-nav {
    opacity: 100;
}

.owl-nav {
    opacity: 0;
    transition: 250ms opacity ease;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 45%;
    span {
        padding: 1rem;
        color: white;
        background-color: $main-color;
        border-radius: 2px;
    }
}

.owl-next {
    right: 0;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.owl-dot {
    margin: 0 .25rem;
}

.owl-dot span {
    background-color: $main-color;
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    transition: 250ms width ease;
}

.owl-dot.active span {
    width: 1.2rem;
    border-radius: 20px;
}