body {
    font-family: 'Varela', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border-radius: 0 !important;
    font-size: 1rem;
    padding: .75rem 2rem;
    margin: 0 .5rem;
}