@media screen and (max-width: 375px) {
    .col {
        padding: 0 !important;
    }

    .container {
        padding: 0 .5rem;
    }
}


@media screen and (max-width: 425px) {
    .home {
        padding: 7rem 0;
        .btn {
            margin-bottom: 1rem;
        }

        h1, p {
            margin-bottom: 3rem;
        }
    }

    .home__desc {
        width: 100%;
    }

    .about {
        padding: 5rem 0 2rem 0;
    }

    .about__box {
        margin-bottom: 2rem;
    }

    .portfolio .row, .services .row {
        margin-top: 1rem;
    }

    .services__service {
        margin-bottom: 1.5rem;
    }

    .pitch h2 {
        text-align: center;
    }

    .pitch h2::before {
        margin: 0 auto;
    }

    .owl-carousel {
        margin-top: 1rem;
    }

    .numbers__box {
        margin-bottom: 2rem;
        i {
            font-size: 3rem;
        }
    }

    .pricing__box {
        margin-bottom: 2rem;
    }

    .team__member-box {
        margin-bottom: 2rem;
    }

    .blog__box {
        margin-bottom: 2rem;
    }

    .contact__form {
        width: 100%;
    }

    .footer__sm-box {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .services .row {
        margin-top: 5rem;
    }

    .services__service {
        padding: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        i {
            position: static;
        }
    }

    .pitch .owl-carousel {
        margin-top: 2rem;
    }

    .testimonials .owl-carousel {
        width: 80%;
        margin: 0 auto;
    }

    .blog__box {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    .about__wrapper {
        margin: 4rem 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .navbar-collapse {
        position: relative;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        transition: 250ms right ease;
        right: -100%;
    }
    .navbar-collapse.show {
        right: 0;
        transition: 250ms right ease-in;
    }
}