.about {
    padding: 7rem 0;
}

.about__wrapper {
    margin: 5rem auto;
    width: 90%;
}

.about__box {
    border: 1px solid lightgray;
    padding: 1rem .75rem;
    text-align: center;
    i {
        color: $main-color;
        font-size: 2rem;
        margin: 1rem 0;
    }

    a {
        font-size: .9rem;
    }
}

.about__desc {
    color: #999;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-weight: 500;
    margin: 1rem 0;
}