.home {
    background: linear-gradient(rgba(30, 30, 30, 0.85),rgba(30, 30, 30, 0.85)), url("../../img/background1.jpg");
    padding: 40vh 0;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__desc {
    width: 75%;
    margin: 0 auto;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }
}