.numbers {
    padding: 5rem 0;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../../img/background2.jpg");
    background-position: center;
    color: white;
    text-align: center;
    i {
        color: $main-color;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 2rem;
        font-family: "Montserrat";
        font-weight: bold;
    }

    h4 {
        font-size: 1rem;
    }
}