.btn-main {
    background: $main-color;
    color: white;
    transition: 500ms background ease;
}

.btn-main:hover {
    background: linear-gradient(rgba(45, 45, 45, 0.3), rgba(45, 45, 45, 0.3)), $main-color;
    color: white;
}